<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <title>Donate Right</title>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/assets/js/index.js"></script>
	</head>
	<body>
		<nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item is-size-2 has-text-primary has-text-weight-semibold is-family-primary" href="/">
                Donate Right
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarDonateRight">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarDonateRight" class="navbar-menu">
                <div class="navbar-start">
                <a class="navbar-item" id="mapViewEvents">
                    Upcoming charity events
                </a>

                <a class="navbar-item" id="mapViewDonations">
                    Donation posts
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                    More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/list-events">
                            List view - all charity events
                        </a>
                        <a class="navbar-item" href="/list-donations">
                            List view - all donation posts
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/charity">
                            Search for a charity
                        </a>
                    </div>
                </div>
                </div>

                <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                    <a class="button is-primary" href="/register">
                        <strong>Register</strong>
                    </a>
                    <a class="button is-light" href="/login">
                        Log in
                    </a>
                    </div>
                </div>
                </div>
            </div>
        </nav>
        {{{body}}}
	</body>
</html>
