<ul>
  {{#each dbDonations}}
  <li data-id={{dataValues.id}}>
    <p>This is the description: {{dataValues.description}}</p>
    <p>Category: {{dataValues.category}}</p>
  </li>
  <hr>  
  {{/each}}
</ul>