<div class="hero is-medium is-light is-bold has-background mission">
  <img alt="Fill Murray" class="hero-background is-transparent" src="/assets/images/charity.jpg"/>
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        Accelerating aid to those in need
      </h1>
      <h3 class="subtitle title has-text-centered is-italic">
        "Our mission is to connect donors and verified charities across Australia on a single platform so that every individual is notified about the needs of the society and can help provide faster assistance to those in need."
      </h3>
    </div>
  </div>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p> &copyCopyright 2020
        </p>
    </div>
</footer>