<div class="bg-img">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="missionStatement">Our mission is to collect and organize charities from a far and wide where the people will be able to search and make donations to charities all in one place.</p>
            </div>
        </div>
    </div>
</div>