<div id="donation-list" class="box">
    <article class="panel is-primary">
        <p class="panel-heading .has-text-centered">
            List of all donation posts:
        </p>
        <div class="dropdown is-right is-hoverable">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Filter by Category</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                <a class="dropdown-item">
                    Food
                </a>
                <hr class="dropdown-divider">
                <a class="dropdown-item">
                    Clothes
                </a>
                <hr class="dropdown-divider">
                <a class="dropdown-item">
                    Books
                </a>
                <hr class="dropdown-divider">
                <a class="dropdown-item">
                    Homeware
                </a>
                <hr class="dropdown-divider">
                <a class="dropdown-item">
                    Help
                </a>
                </div>
            </div>
        </div>
        <br>
        <aside class="menu">
            <ul class="menu-list">
                {{#each donations}}
                <div class="box">
                    <a>
                        <li data-id={{this.id}}>
                            <div class="content is-small">
                                <h3>{{this.description}}</h3>
                                <p>Category: {{this.category}}</p>
                            </div>
                        </li>
                    </a>
                </div>
                {{/each}}
            </ul>
        </aside>
    </article>
</div>
<div id="donation-details" class="box is-hidden">
    <article class="panel is-primary">
        <p class="panel-heading .has-text-centered">
            Donation details:
        </p>
        <br>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Donor Name</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <h2 id="name"></h2>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Category</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p id="category"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Description</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p id="description"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Contact details</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p id="email"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label"></label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p id="phnumber"></p>
                </div>
            </div>
        </div>
        <div class="columns is-centered is-vcentered">
            <div class="column"></div>
            <div class="column is-narrow">
                <button id="backBtn" class="button is-primary is-vcentered" style="text-align:center">
                    Go Back
                </button>
            </div>
            <div class="column"></div>
        </div>
        <br>
    </article>
</div>

<script type="application/javascript" src="assets/js/listDonations.js"></script>

