<h2>Login Form</h2>
<form class="login">
    <div class="form-group">
    <label for="Email">Email address</label>
    <input type="email" class="form-control" id="email-input" placeholder="Email">
    </div>

    <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" id="password-input" placeholder="Password">
    </div>

    <div class="form-group">
    <label for="Charity Key">Charity Key</label>
    <input type="charityKey" class="form-control" id="charityKey-input">
    </div>

    <button type="submit" class="btn btn-default">Login</button>
</form>
<br>
<p>Or sign up <a href="/register">here</a></p>

<script src="assets/js/login.js"></script>