<div class="box">
    <article class="panel is-primary">
        <p class="panel-heading .has-text-centered">
            New Registration
        </p>
        <br>
        <div class="box">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Select type</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                            <select id="userType" onchange="updateUser()">
                                <option>Select..</option>
                                <option>Register normal user</option>
                                <option>Register user belonging to a registered charity</option>
                                <option>Register new charity</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <form class="signup-user">
                <div id="uRegistration" class="is-hidden">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Enter user details</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input id="u-firstName-input" class="input" type="text" required placeholder="First Name">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input  id="u-lastName-input" class="input" type="text" required placeholder="Last Name">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field is-expanded">
                                <div class="field has-addons">
                                    <p class="control">
                                    <a class="button is-static">
                                        +61
                                    </a>
                                    </p>
                                    <p class="control is-expanded">
                                    <input class="input" id="u-phoneNumber-input" type="tel" required placeholder="Your phone number">
                                    </p>
                                </div>
                                <p class="help">Do not enter the first zero</p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left has-icons-right">
                                    <input class="input is-success" id="u-email-input" type="email" required placeholder="alex@smith.com">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Enter password</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input" id="u-password-input" type="password" required placeholder="Password">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">
                                Submit
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </form>
            
            <form class="signup-charityuser">
                <div id="cuRegistration" class="is-hidden">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Enter charity user's details</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input id="cu-firstName-input" class="input" type="text" required placeholder="First Name">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input  id="cu-lastName-input" class="input" type="text" required placeholder="Last Name">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field is-expanded">
                                <div class="field has-addons">
                                    <p class="control">
                                    <a class="button is-static">
                                        +61
                                    </a>
                                    </p>
                                    <p class="control is-expanded">
                                    <input class="input" id="cu-phoneNumber-input" type="tel" required placeholder="Your phone number">
                                    </p>
                                </div>
                                <p class="help">Do not enter the first zero</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left has-icons-right">
                                    <input class="input is-success" type="email" id="cu-email-input" required placeholder="alex@smith.com">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Enter charity key</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-expanded">
                            <div class="field has-addons">
                                <p class="control is-expanded">
                                <input class="input" type="password" id="u-charitykey-input" required placeholder="Enter unique charity key">
                                </p>
                            </div>
                            <p class="verifyKeyMsg">Enter charity key created during registration of charity.</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Enter password</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input" id="cu-password-input" type="password" required placeholder="Password">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">
                                Submit
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </form>

            <form class="signup-charity">
                <div id="cRegistration" class="is-hidden">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Enter charity details</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input id="charityName-input" class="input" type="text" required placeholder="Charity Name">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-university"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field is-expanded">
                                <div class="field has-addons">
                                    <p class="control">
                                    <a class="button is-static">
                                        +61
                                    </a>
                                    </p>
                                    <p class="control is-expanded">
                                    <input class="input" id="c-phoneNumber-input" type="tel" required placeholder="Contact number">
                                    </p>
                                </div>
                                <p class="help">Do not enter the first zero</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left has-icons-right">
                                    <input class="input is-success" id="c-email-input" type="email" required placeholder="alex@smith.com">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Enter charity key</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-expanded">
                            <div class="field has-addons">
                                <p class="control is-expanded">
                                <input class="input" type="password" id="charitykey-input" required placeholder="Unique alphanumeric charity key">
                                </p>
                            </div>
                            <p class="help">Remember this key for registering users belonging to this charity!</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Description</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <textarea class="textarea" id="c-description-input" required placeholder="Brief description of charity's mission, activities etc."></textarea>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">
                                Submit
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </form>
        </div>
    </article>
</div>

{{#section 'script'}}

<script type="application/javascript" src="assets/js/register.js"></script>

{{/section}}

