<h2>Sign Up Form</h2>
<form class="signup">
    <div class="form-group">
    <label for="firstName"><strong>First Name</strong></label>
    <input type="text" class="form-control" id="firstName-input" placeholder="First name" >
    </div>

    <div class="form-group">
    <label for="lastName"><strong>Last Name</strong></label>
    <input type="text" class="form-control" id="lastName-input" placeholder="Last name">
    </div>

    <div class="form-group">
    <label for="phoneNumber"><strong>Phone Number</strong></label>
    <input type="text" class="form-control" id="phoneNumber-input" placeholder="Phone number">
    </div>

    <div class="form-group">
    <label for="Email"><strong>Email address</strong></label>
    <input type="email" class="form-control" id="email-input" placeholder="Email">
    </div>

    <div class="form-group">
    <label for="Password"><strong>Password</strong></label>
    <input type="password" class="form-control" id="password-input" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-default">Sign Up</button>
</form>
<br>
<p>Or log in <a href="/login">here</a></p>

<script src="assets/js/register.js"></script>