/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 80%;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.missionStatement {
    font-size: 50px;
    color: #000000;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15.5%;
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 10px;
}

.bg-img { 
    background-image: url(/assets/images/charity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.img-responsive {
    display: block; 
    max-width: 100%;
    height: auto;
} 

.panel-heading {
    font-size: 1.25rem;
}

.button {
    padding: 0 12px;
    margin-top: 5px;
    height: 2em;
}